$colour-initial: white !default;
$colour-primary: #850322 !default;
$colour-secondary: #222 !default;
$colour-tertiary: #24a4e2 !default;
$colour-quaternary: #f3eed9 !default;
$colour-quinary: #e1e1e1 !default;
